<section class="thirteen columns">
    <h1>Accomplishments &amp; Certificates</h1>
    <article>
        <header>
            <h1>VMware vSphere: Optimize and Scale v6</h1>
            <span>Stanly SCC</span>
            <span><address>Online</address><time>2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>VMware vSphere: Install, Configure, Manage v6</h1>
            <span>Stanly SCC</span>
            <span><address>Online</address><time>2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>VMware Certified Associate - Workforce Mobility (VCA-WM)</h1>
            <span>VMware</span>
            <span><address>Online</address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>VMware Certified Associate - Cloud (VCA-Cloud)</h1>
            <span>VMware</span>
            <span><address>Online</address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>VMware Certified Associate - Data Center Virtualization (VCA-DCV)</h1>
            <span>VMware</span>
            <span><address>Online</address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Linux Professional Institute Certification Level 2 (LPIC-2)</h1>
            <span>Linux Professional Institute</span>
            <span><address>Dortmund, DE</address><time>2010 to 2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Novell Certified Linux Administrator</h1>
            <span>Linux Professional Institute</span>
            <span><address>Dortmund, DE</address><time>2010 to 2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Linux Professional Institute Certification Level 1 (LPIC-1)</h1>
            <span>Linux Professional Institute</span>
            <span><address>Dortmund, DE</address><time>2009 to 2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>ITIL v3 Foundation Certificate</h1>
            <span>T&Uuml;V Rheinland AG</span>
            <span><address>Dortmund, DE</address><time>2009</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>IT Specialist for Systems Integration, Computer Science</h1>
            <span>Robert Bosch Berufskolleg</span>
            <span><address>Dortmund, DE</address><time>2001 to 2004</time></span>
        </header>
    </article>
</section>
