<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Business Informatics &amp; Information Systems</h1>
            <span>University of Hagen</span>
            <span><address>Hagen, DE</address><time>2015 to Present</time></span>
        </header>
        <p>
            <em>Studying "Business Information Systems" (Wirtschaftsinformatik) beside the job</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Continuing Education, Technology Courses</h1>
            <span>Stanly Community College (SCC)</span>
            <span><address>Albemarle, NC</address><time>2016 to 2017</time></span>
        </header>
        <p>
            <em>Attending Stanly's Continuing Education program to enhance my
              skills and knowledge in the professional field</em>
        </p>
    </article>
    <article>
        <header>
            <h1>IT Specialist for Systems Integration, Computer Science</h1>
            <span>Robert Bosch Berufskolleg</span>
            <span><address>Dortmund, DE</address><time>2001 to 2004</time></span>
        </header>
        <p>
            <em>Dual education system. Combination of of apprenticeships in a company
              and vocational education at a vocational school</em>
        </p>
    </article>
</section>
