<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Principal Engineer</h1>
            <span><address>PTC — Cloud Architecture</address><time>2016 to Present</time></span>
        </header>
        <p>Member of the Cloud Architecture team. Building
          internal operations tools and automating Private and Public Cloud
          infrastructure including VMware and AWS with SaltStack and Python</p>
    </article>
    <article>
        <header>
            <h1>Senior Systems Engineer</h1>
            <span><address>PTC — Cloud Infrastructure</address><time>2011 to 2016</time></span>
        </header>
        <p>Administrating and managing the infrastructure for several IoT
          applications, focusing on design, automation, virtualization and processes</p>
    </article>
    <article>
        <header>
            <h1>System Engineer</h1>
            <span><address>Materna — MVNE/MVNO Services</address><time>2008 to 2011</time></span>
        </header>
        <p>System engineer in the MVNE (Mobile Virtual Network Enabler) service
          department. Administration and monitoring of several systems and
          network elements (e.g. HLR, MSC, UMS, IP etc.) for a Mobile Virtual
          Network Operator</p>
    </article>
    <article>
        <header>
            <h1>System &amp; Network Administrator</h1>
            <span><address>Witnet</address><time>2006 to 2007</time></span>
        </header>
        <p>Planning and implementing a meshed WiFi network for an EU project
          within the city of Witten. Also administrating and maintaining the work
          environment for approx. 20 employees (Active Directory integration, backup
          strategy, software management etc.)</p>
    </article>
    <article>
        <header>
            <h1>System Administrator</h1>
            <span><address>klickTel</address><time>2006 to 2006</time></span>
        </header>
        <p>Responsible for maintenance and administration of the HA Apache webserver
          cluster, the email service for outbound and automating operational procedures</p>
    </article>
    <article>
        <header>
            <h1>System &amp; Network Administrator</h1>
            <span><address>DomainBOX</address><time>2004 to 2006</time></span>
        </header>
        <p>System and network administrator for hosted services (e.g. web applications,
          email, databases) and customer servers. Also planning and implementing services
          on customers request</p>
    </article>
    <article>
        <header>
            <h1>IT Specialist for Systems Integration</h1>
            <span><address>DIALOGS — Mobile Services</address><time>2001 to 2004</time></span>
        </header>
        <p>Successfully completed job training as "IT Specialist for Systems Integration"
          (ahead of schedule)</p>
    </article>
</section>
