<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Manager</h1>
            <span><address>PTC — Cloud Services Infrastructure</address><time>Dec 2020 to present</time></span>
        </header>
        <p>Manager of the Infrastructure Architecture Team. Architecting and building hybrid cloud infrastructure on VMware, VMware Cloud on AWS and AWS. Designing and implementing operational processes and procedures</p>
    </article>
    <article>
    <article>
        <header>
            <h1>Principal Architect</h1>
            <span><address>PTC — Cloud Services Infrastructure</address><time>Jul 2020 to Nov 2020</time></span>
        </header>
        <p>Member of the Cloud Infrastructure Architecture Team. Designing and building public/private cloud infrastructure on VMware, VMware Cloud on AWS and AWS. Automating operations, processes and deployments using Python and SaltStack</p>
    </article>
    <article>
        <header>
            <h1>Principal Engineer</h1>
            <span><address>PTC — Cloud Engineering</address><time>2016 to 2020</time></span>
        </header>
        <p>Member of the Cloud Automation Team. Building internal operations tools and automating private and public cloud infrastructure including VMware and AWS with SaltStack and Ansible</p>
    </article>
    <article>
        <header>
            <h1>Senior Systems Engineer</h1>
            <span><address>PTC — Cloud Infrastructure</address><time>2011 to 2016</time></span>
        </header>
        <p>Administrating and managing the infrastructure for several IoT
          applications, focusing on monitoring, automation and virtualization</p>
    </article>
    <article>
        <header>
            <h1>Systems Engineer</h1>
            <span><address>Materna — MVNE/MVNO Services</address><time>2008 to 2011</time></span>
        </header>
        <p>System engineer in the MVNE (Mobile Virtual Network Enabler) service
          department. Administration and monitoring of several systems and
          network elements (e.g. HLR, MSC, UMS, IP etc.) for a Mobile Virtual
          Network Operator</p>
    </article>
    <article>
        <header>
            <h1>System &amp; Network Administrator</h1>
            <span><address>Witnet — IT Services</address><time>2006 to 2007</time></span>
        </header>
        <p>Planning and implementation of a meshed WiFi network for an EU project
          within the city of Witten. Administration and maintenance of the work
          environment of approx. 20 employees (Active Directory integration, backup
          strategy, software management etc.)</p>
    </article>
    <article>
        <header>
            <h1>System Administrator</h1>
            <span><address>klickTel — Web Services</address><time>2006 to 2006</time></span>
        </header>
        <p>Responsible for maintenance and administration of the HA Apache webserver
          cluster, the outbound email service and automation of operational procedures</p>
    </article>
    <article>
        <header>
            <h1>System &amp; Network Administrator</h1>
            <span><address>DomainBOX — Administration &amp; Support</address><time>2004 to 2006</time></span>
        </header>
        <p>System and network administrator for hosted services and dedicated servers.
          Design and implementation of customer services and environments</p>
    </article>
    <article>
        <header>
            <h1>IT Specialist for Systems Integration</h1>
            <span><address>DIALOGS — Mobile Services</address><time>2001 to 2004</time></span>
        </header>
        <p>Successfully completed job training as "IT Specialist for Systems Integration"
          (ahead of schedule)</p>
    </article>
</section>
