<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Software Engineering &amp; Web Development</h1>
        </header>
        <br />
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>&nbsp;&nbsp;<em>Bash</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Python</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Javascript</em>
        </p>
        <p>
            <i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Go</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Ruby</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>HTML5 &amp; CSS3</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Git</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Automation</h1>
        </header>
        <br />
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>SaltStack</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Ansible</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Puppet</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Virtualization &amp; Cloud Environments</h1>
        </header>
        <br />
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>VMware vSphere</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>AWS</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Azure</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>KVM</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Systems Engineering &amp; Administration</h1>
        </header>
        <br />
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>&nbsp;&nbsp;<em>Linux</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Unix</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Operations &amp; Procedures</h1>
        </header>
        <br />
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>Change Management</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>&nbsp;&nbsp;<em>ITIL v3</em>
        </p>
    </article>
</section>
